{% extends "layouts/main.twig.html" %}


{% block content %}

	<h1>Database</h1>
	  
	  
	<h3>Static cells of DB class</h3>

	<p>
	DB::select('SELECT * FROM countries LIMIT 2');
    </p>

    {{ select_text| raw }}
    <br><br>

    <p>
    DB::insert('INSERT INTO test (a,b) VALUES(?,?)', array(1,2) );
    </p>

    {{ select_text| raw }}
    <br><br>

	<p>
    DB::update('UPDATE test SET b=? WHERE a=?', array(55,1) );
    </p>

    <pre>{{ update_text| raw }}</pre>
    <br><br>

    <p>
    DB::delete('DELETE test WHERE a=?', array(999) );
    </p>

    <pre>{{ delete_text| raw }}</pre>
    <br><br>

    <p>
    DB::select('SHOW TABLES');
    </p>

	{{ show_tables_text| raw }}
    <br><br>


    <h3>PDO</h3>

    <p>
<code>
$sql = 'SELECT * FROM language LIMIT 2'; <br>
$query = $pdo-> query($sql); <br><br>
 
while($row = $query->fetch(PDO::FETCH_ASSOC)) { <br>
&nbsp; &nbsp; print_r($row); <br>
} <br>
</code>

    <p>

    <pre>{{ pdo_text| raw }}</pre>

    .<br>

{% endblock %}