{% extends "layouts/main.twig.html" %}


{% block content %}

		<h1>OX Framework</h1>

		This is initial version of my PHP microframework


		<h2>Features:</h2>
			   
		<ul>
		   <li>MVC based framework</li>
		   <li>mimics some Laravel 4 functionality</li>
		   <li>Twig template is used</li>
		</ul>


		<h2>Just a few notes:</h2>
			   
		<ul>
		   <li>experimental database support</li>
		   <li>it is in early stage, project architrcture may be changed</li>
		   <li>just started to use git and github, struggling at the moment</li>
		</ul>
		

		<h3>Links</h3>

		<ul>
		   <li><a href="./about">About OX</a></li>
		   <li><a href="./routes">Routes</a></li>
		   <li><a href="./database">Database</a></li>
		   <li><a href="./sessions">Sessions</a></li>

		   <br>
		   <li><a href="./user">User</a></li>
		   <li><a href="./login">Login</a></li>
		   <li><a href="./logout">Logout</a></li>
		   <li><a href="./registration">Registration</a></li>
		</ul>

{% endblock %}
