{% extends "layouts/mini.twig.html" %}

{% block content %}


<div align="center">
<div style="width: 400px" align="left">


<form role="form" action="/login" class="form-signup" method="POST" />

<h2> Login form</h2>

<div>
<span id="errors-username"></span>

Username:
<input type="username" name="username" class="input-block-level" placeholder="Username:" />

</div>


<div>
<span id="errors-password"></span>
Password:
<input type="password" name="password" class="input-block-level" placeholder="Password:" />
</div>

&nbsp;
<div>
<input type="submit", value="Potrdi" class="btn btn-large btn-primary btn-block" />
</div>

<br><br>
<a href="#forgot">Forgot password?</a> | <a href="#register">Register</a>

</form>


</div>
</div>

{% endblock %}