{% extends "layouts/main.twig.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

	<h1>Routes</h1>

	<b> id: </b>
  {{ id }} <br>
  <b> name: </b>
  {{ name }}  <br>
  <br>

  <pre>

  <a href="{{ u }}">Route::get('/', 'homeController@index'); </a>


  <a href="{{ u }}about">Route::get('about',  'aboutController@index'); </a>
  <a href="{{ u }}login">Route::get('login',  'loginController@index'); </a>
  <a href="{{ u }}logout">Route::get('logout', 'logoutController@index'); </a>

  <a href="#">Route::post('login', 'loginController@process'); </a>

  <a href="{{u}}routes">Route::get('routes', 'routesController@index'); </a>

  <a href="{{u}}routes/123">Route::get('routes/123', 'routesController@index'); </a>
  <a href="{{u}}routes/page/report">Route::get('routes/page/report', 'routesController@named_page'); </a>
  <a href="{{u}}routes/page/third/id/456">Route::get('routes/page/third/id/456', 'routesController@third_page'); </a>

  <a href="{{ u }}database">Route::get('database', 'databaseController@index'); </a>
  <a href="{{ u }}sessions">Route::get('sessions', 'sessionsController@index'); </a>

  <a href="{{ u }}testarray">Route::get('testarray', array( 'as' => 'testing', 'uses' => 'sessionsController@index') ); </a>

  <a href="{{ u }}fntest">Route::get('fntest', function() { return 'this is function test'; } ); </a>

  <a href="{{u}}routes">Route::any('routes/any/555', 'routesController@index') </a>

  <a href="{{u}}routes/page/post">Route::post(   'routes/page/post',    'routesController@index');</a>
  <a href="{{u}}routes/page/put">Route::put(    'routes/page/put',     'routesController@index');</a>
  <a href="{{u}}routes/page/patch">Route::patch(  'routes/page/patch',   'routesController@index');</a>
  <a href="{{u}}routes/page/delete">Route::delete( 'routes/page/delete',  'routesController@index');</a>
  <a href="{{u}}routes/page/options">Route::options('routes/page/options', 'routesController@index');</a>
  <a href="{{u}}routes/page/any">Route::any(    'routes/page/any',     'routesController@index');</a>

  <a href="{{u}}routes/page/match">Route::match(['get','post'], 'routes/page/match', 'routesController@index');</a>

  Route::group(['middleware' => 'auth'], function () {

    <a href="{{u}}routes/page/ingroup1">Route::get('routes/page/ingroup1', 'routesController@index');</a>
  });

TODO:

Optional Parameters:
Route::get('user/{name?}' ...

Route Groups

Middleware:

Route::group(['middleware' => 'auth'], function () {
  Route::get('/', function ()    {},
  Route::get('/', function ()    {}
});

Namespaces:

Route::group(['namespace' => 'Admin'], function() {
  Route::group(['namespace' => 'User'], function() {

  }
}

Prefixes:

Route::group(['prefix' => 'admin'], function () {

});
</pre>

{% endblock %}
